.breed-image {
    object-fit: cover;
    width: 100%;
}

.breed-content {
    background: rgb(252, 250, 250);
    height: 100%;
    position: relative;
    .breed-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.564);
        color: white;
        
    }
}
.breed-content-info {
    padding: 1.5rem 1rem;
    .title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }
}

:host {
    display: block;
    height: 100%;
}