<mat-card fxLayout="column wrap">
  <div fxFlex="auto" class="breed-card-content">
    <ng-content />
  </div>

  <mat-card-actions fxLayout="row">
    @if (value(); as value) {
    <div fxFlex="33" fxLayout="row" fxLayoutAlign="center">
      <button
        [disabled]="loading()"
        (click)="vote(voteValue.DISLIKE)"
        mat-fab
        color="warn"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div fxFlex="34" fxLayout="row" fxLayoutAlign="center">
      <button
        [disabled]="loading()"
        (click)="vote(voteValue.SUPERLIKE)"
        mat-fab
        color="accent"
      >
        <mat-icon>star</mat-icon>
      </button>
    </div>
    <div fxFlex="33" fxLayout="row" fxLayoutAlign="center">
      <button
        [disabled]="loading()"
        (click)="vote(voteValue.LIKE)"
        mat-fab
        color="primary"
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    }
  </mat-card-actions>
</mat-card>
