:host {
    height: 100%;
    display: block;
    > div {
        height: 100%;
    }
}

.breed-container {
    padding: 1rem;
    overflow-y: auto;
}

.breed-container {
    height: 100%;
}

.breed-title {
    text-align: center;
}