@if(breed(); as item){<mat-list>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
    <button (click)="handleClick()" mat-icon-button>
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <div class="title">Breed detail</div>
  </div>
  <mat-list-item>
    <span matListItemTitle>Name</span>
    <span matListItemLine>{{ item.name }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Breed for</span>
    <span matListItemLine>{{ item.bred_for }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Breed group</span>
    <span matListItemLine>{{ item.breed_group }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Life span</span>
    <span matListItemLine>{{ item.life_span }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Weight metric</span>
    <span matListItemLine>{{ item.weight.metric }}</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Height metric</span>
    <span matListItemLine>{{ item.height.metric }}</span>
  </mat-list-item>
</mat-list>
}
